@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varta', sans-serif;
}

body{
  background:#19123b;
}
/* first div tag for center */
.main_div{
  height: 100vh;
}
.card{
  border: none;
  border-top: 5px solid rgb(176,106,252);
  background: #212042;
  color: #57557a;
}

label {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}
/* bs5 official form class */
/* normal view - background purple, text white */
.form-control {
  border: 1px solid #57557a;
  border-radius: 10px;
  background: #212042;
  color:#fff
}
/* when typing on background */
/* background white , text default black.to change color:#hex  */
.form-control:focus {
  background: #fff;
}
/* social icon hover */
.fab:hover {
  cursor: pointer;
  background: black;
}
.btn-primary {
  background: linear-gradient(135deg, rgba(175,106,252,1) 39%,rgba(116,17,255,1) 100%) !important;
  border:none;
  border-radius: 50px;
}
/* responsive code */
@media(max-width:768px) {
  .row {
  --bs-gutter-x: 0.1rem;
  --bs-gutter-y: 0;
}
}
